@charset "UTF-8";
body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

header {
  width: 1300px;
  height: 80px;
  margin: 0 auto; }
  header > div {
    width: 49%;
    float: left; }
    header > div > img {
      width: 180px;
      height: 80px;
      margin: 9px;
      cursor: pointer; }
    header > div > input {
      width: 380px;
      height: 24px;
      margin-top: 28px;
      padding: 6px;
      border: 1px solid #BF3EFF;
      border-radius: 5px; }
    header > div > button {
      width: 86px;
      height: 33px;
      border: 1px #BF3EFF;
      border-radius: 2px;
      margin-left: 16px;
      text-decoration: none;
      background-color: #E6E6E6; }

@media screen and (max-width: 960px) {
  header {
    width: 100%;
    min-width: 300px; }
    header > div {
      width: 98%;
      margin-left: 6px;
      min-width: 200px; }
      header > div > img {
        width: 120px;
        height: 60px;
        margin: 0 6px; }
      header > div > input {
        width: 70%;
        margin: 2px; }
      header > div > button {
        width: 20%;
        margin-left: 9px; } }
nav {
  width: 100%;
  height: 56px;
  margin-top: 18px;
  min-width: 1300px;
  background-color: #3e3d43;
  overflow: hidden; }
  nav > ul {
    width: 1300px;
    margin: auto;
    font-size: 15pt;
    color: beige;
    overflow: hidden;
    list-style-type: none;
    font-family: 华文隶书, serif; }
    nav > ul > li {
      float: left;
      padding: 16px 24px;
      overflow: hidden; }
    nav > ul > li:nth-child(-n + 4):hover {
      background-color: #BF3EFF;
      cursor: pointer; }
    nav > ul > li:nth-child(5) {
      margin-right: 100px;
      float: right; }
    nav > ul a {
      cursor: pointer; }

.ip-nav {
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  transition: 0.6s;
  display: none;
  position: fixed;
  overflow-x: hidden;
  color: beige;
  background-color: #3e3d43; }
  .ip-nav ul {
    width: 100%;
    bottom: 6px;
    display: inline-block;
    position: absolute;
    font-size: 12pt; }
    .ip-nav ul > li {
      width: 100%;
      height: 32px;
      padding: 16px 0 0 16px;
      float: left;
      overflow: hidden; }

@media screen and (max-width: 960px) {
  nav {
    display: none; }

  .ip-menu {
    width: 36px;
    height: 36px;
    top: 10px;
    right: 10px;
    border-radius: 3px;
    display: block;
    position: fixed;
    cursor: pointer; }

  .ip-menu.open div:nth-child(1) {
    width: 30px;
    -webkit-transform: rotate(43deg);
    -ms-transform: rotate(43deg);
    transform: rotate(43deg); }
  .ip-menu.open div:nth-child(2) {
    width: 0; }
  .ip-menu.open div:nth-child(3) {
    width: 30px;
    margin-top: 10px;
    -webkit-transform: rotate(-43deg);
    -ms-transform: rotate(-43deg);
    transform: rotate(-43deg); }

  .ip-menu > div {
    width: 30px;
    height: 2px;
    margin: 6px;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.16s ease-in-out;
    transition: 0.16s ease-in-out;
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
    background-color: #BF3EFF; }

  .ip-nav.open {
    width: 180px;
    display: block; }
    .ip-nav.open ul > li:nth-child(-n + 4):hover {
      background-color: #BF3EFF; } }

/*# sourceMappingURL=main.css.map */
